.section-head{
  display: flex;
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
}
.section-head > div{
  display: flex;
  align-items: center;
  width: 100%;
}
.section-head > div + div{
  margin-left: 10px;
}
.section-head > div.active{
  background-color: var(--white);
  color: var(--black);
}
.section-head > div span:first-child{
  margin-right: 5px;
}
.section-title-div{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 5px;
}
.section-title-div + .section-title-div{
  margin-left: 10px;
}
.calendar-title-div{
  justify-content: flex-end;
  margin-right: 10px;
}